[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
#User=
WorkingDirectory=/srv/http/xxx
ExecStart=/bin/puma -C /srv/http/xxx/config/puma_production.rb /srv/http/xxx/config.ru
ExecStop=/bin/pumactl -S /srv/http/xxx/tmp/pids/puma.state stop
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
